@import url("../node_modules/leaflet/dist/leaflet.css");
@import url("../node_modules/font-awesome/css/font-awesome.css");
@import url("../node_modules/jquery-ui/themes/smoothness/jquery-ui.css");

/*@import url("../node_modules/c3/c3.css");*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#map {
    height: calc(100% - 50px);
}

.centered-table {
    width: 100%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#time-slider {

}

#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    background-color: black;
    height: 50px;
    vertical-align: middle;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.mainWrapper {
    height: calc(100% - 50px);
}

.sidebar {
    float: left;
    height: 100%;
    width: 1px;
    background-color: red;
}

.mapWrapper {
    float: left;
    height: 100%;
    width: calc(100% - 1px);
}

.footer {
    background-color: aliceblue;
    height: 50px;
}
